.results {
  color: black;
  border-radius: 15px;
  margin-top: 25px;
  .scores {
    background: white;
    margin-top: 2%;
    padding: 5%;
    text-align: center;
  }
  .answer-key {
    background: white;
    padding: 5%;
  }
}