@import './vars.scss';

body {
  background-color: $bg-dark-primary;
  color: $light-primary; 
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #dedede;
  margin: 1.5em auto;
  width: 98%;
}

.appContainer {
  height: auto;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.app-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  .app-container {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    .logo {
      background-color: white;
      border-radius: 5px;
      height: 75px; 
      width: 75px; 
      @media only screen and (max-width: 600px) {
        margin-left: 15px;
      }
    }
    .titles {
      display: flex;
      flex-direction: column;
      height: 75px;
      justify-content: center;
      margin-left: 10px;
      margin-top: 25px;
      .title {
        color: white;
        font-size: 285%;
        margin-left: 10px;
        @media only screen and (max-width: 600px) {
          font-size: 200%;
        }
      }
      .lead {
        color: lightgrey;
        font-size: 180%;
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
        @media only screen and (max-width: 600px) {
          font-size: 120%;
        }
      }
    }
  }
}

.scorebox {
	font-size: 200%;
	padding-left: 40px;
  align-items: center;
  background: white;
  border-radius: 15px;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  padding-right: 40px;
  padding: 3%;
  text-align: center;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    border-radius: 0px;
  }
  .group {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
  }
  .question {
    margin-top: 20px;
  }
  .length {
    margin-top: 20px;
    @media only screen and (max-width: 600px) {
      margin-top: 30px;
    }
  }
  .score-label {
    margin-top: 20px;
    margin-bottom: 20px;
    @media only screen and (max-width: 600px) {
      margin-top: 30px;
    }
  }
  .score {
    color: green;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
}

.questions {
  color: $dark-primary;
  margin-top: 3%;
  margin-bottom: 3%;
	.question {
		.background {
      background: white;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 10%;
      border-radius: 15px;
      @media only screen and (max-width: 600px) {
        border-radius: 0px;
      }
    }
    .category {
      font-size: 120%;
      margin-bottom: 2%;
      margin-top: 5%;
      text-transform: uppercase;
    }
    .difficulty {
      font-size: 120%;
      font-weight: bold;
      margin-top: 5%;
      text-transform: uppercase;
    }
    .group {
      align-items: center;
      display: flex;

    }
		.button {
      border-radius: 5px;
      height: 50px;
      margin-bottom: 1%;
      margin-left: 20px;
      margin-top: 1%;
      width: 50px;
		}
		.choice {
			font-size: 140%;
			margin-left: 10px;
    }
	}
}

.answer-key {
	margin: 0 0 3px 0;
}

.results {
  color: black;
  border-radius: 15px;
  .scores {
    background: white;
    margin-top: 2%;
    padding: 5%;
    text-align: center;
  }
  .answer-key {
    background: white;
    padding: 5%;
  }
}

.results-lane {
  display: flex;
  flex-wrap: wrap;
  font-size: 500%;
  font-weight: bolder;
  justify-content: center;
  margin: 5%;
  text-align: center;
  @media only screen and (max-width: 600px) {
    line-height: 100%;
    margin: 10%;
  }
}