@import './vars.scss';

body {
  background-color: $bg-dark-primary;
  color: $light-primary; 
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #dedede;
  margin: 1.5em auto;
  width: 98%;
}

.appContainer {
  height: auto;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}