// Colors
$light-primary: #fbfbff;
$light-secondary: #9b9baf;
$dark-primary: #282d38;
$dark-secondary: #24242a;
$shadow-primary: #1f1f26;
$accent-primary: #475;

$pickup-color: #04468a;
$delivery-color: #1c7549;

$bg-light-primary: $light-primary;
$bg-light-secondary: #f4f4ff;
$bg-light-tertiary: #ededfc;
$bg-dark-primary: $dark-primary;

// Breakpoints
$mobile-sidebar-mode: 800px;
$map-disappears: 767px;
$orders-wide: 1500px;
$long-order-summary-narrow: 946px;
$long-order-summary-wide: 1638px;
$long-order-summary-header-narrow: 707px;
