{
    "parser": "babel-eslint",
    "plugins": ["react"],
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalDecorators": true,
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "node": true
    },
    "globals": {
      "exports": false
    },
    "rules": {
      "no-compare-neg-zero": 0,
      "react/prop-types": 0,
      "no-console": 0,
      "quotes": ["error", "double", { "allowTemplateLiterals": true }],
      "indent": ["error", 2]
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "settings": {
      "import/extensions": ["js", "jsx"]
    }
  }